*/Compilation/tfc_addon/halflife.wad
*/Compilation/tfc_addon/resource
*/Compilation/tfc_addon/servers
*/Compilation/tfc_addon/gfx.wad
*/Compilation/tfc_addon/Titles.txt
*/Compilation/tfc_addon/motd.txt
*/Compilation/tfc_addon/gfx.wad
Original/wav/sound