*/Compilation/cstrike_addon/maps/as_oilrig.txt
*/Compilation/cstrike_addon/maps/cs_747.txt
*/Compilation/cstrike_addon/maps/cs_assault.txt
*/Compilation/cstrike_addon/maps/cs_backalley.txt
*/Compilation/cstrike_addon/maps/cs_estate.txt
*/Compilation/cstrike_addon/maps/cs_havana.txt
*/Compilation/cstrike_addon/maps/cs_italy.txt
*/Compilation/cstrike_addon/maps/cs_militia.txt
*/Compilation/cstrike_addon/maps/cs_office.txt
*/Compilation/cstrike_addon/maps/cs_siege.txt
*/Compilation/cstrike_addon/maps/de_airstrip.txt
*/Compilation/cstrike_addon/maps/de_aztec.txt
*/Compilation/cstrike_addon/maps/de_cbble.txt
*/Compilation/cstrike_addon/maps/de_chateau.txt
*/Compilation/cstrike_addon/maps/de_dust.txt
*/Compilation/cstrike_addon/maps/de_dust2.txt
*/Compilation/cstrike_addon/maps/de_inferno.txt
*/Compilation/cstrike_addon/maps/de_nuke.txt
*/Compilation/cstrike_addon/maps/de_piranesi.txt
*/Compilation/cstrike_addon/maps/de_prodigy.txt
*/Compilation/cstrike_addon/maps/de_storm.txt
*/Compilation/cstrike_addon/maps/de_survivor.txt
*/Compilation/cstrike_addon/maps/de_torn.txt
*/Compilation/cstrike_addon/maps/de_train.txt
*/Compilation/cstrike_addon/maps/de_vertigo.txt
*/Compilation/cstrike_addon/resource/cstrike_english.txt
*/Compilation/cstrike_addon/resource/gameui_english.txt
*/Compilation/cstrike_addon/resource/OptionsSubAdvanced.res
*/Compilation/cstrike_addon/resource/OptionsSubMouse.res
*/Compilation/cstrike_addon/resource/OptionsSubVoice.res
*/Compilation/cstrike_addon/resource/platform_english.txt
*/Compilation/cstrike_addon/resource/valve_english.txt
*/Compilation/cstrike_addon/resource/vgui_english.txt
*/Compilation/cstrike_addon/servers/serverbrowser_english.txt
*/Compilation/cstrike_addon/commandmenu.txt
*/Compilation/cstrike_addon/motd.txt
*/Compilation/cstrike_addon/halflife.wad
*/Compilation/cstrike_addon/gfx.wad
*/Compilation/cstrike_addon/titles.txt
*/Compilation/cstrike_addon/resource
*/Compilation/cstrike_addon/servers
Original/wav/sound