*/Compilation/gearbox_addon/sound
*/Compilation/gearbox_addon/halflife.wad
*/Compilation/gearbox_addon/resource
*/Compilation/gearbox_addon/servers
*/Compilation/gearbox_addon/gfx.wad
Original/wav/sound