## cstrike
Translations/Goldsrc/cstrike/PT-BR/Compilação/servers
Translations/Goldsrc/cstrike/PT-BR/Compilação/resource/gameui_english.txt
Translations/Goldsrc/cstrike/PT-BR/Compilação/resource/OptionsSubAdvanced.res
Translations/Goldsrc/cstrike/PT-BR/Compilação/resource/OptionsSubMouse.res
Translations/Goldsrc/cstrike/PT-BR/Compilação/resource/OptionsSubVoice.res
Translations/Goldsrc/cstrike/PT-BR/Compilação/resource/platform_english.txt
Translations/Goldsrc/cstrike/PT-BR/Compilação/resource/valve_english.txt
Translations/Goldsrc/cstrike/PT-BR/Compilação/resource/vgui_english.txt

## czero
Translations/Goldsrc/czero/PT-BR/Compilação/servers
Translations/Goldsrc/czero/PT-BR/Compilação/resource/gameui_english.txt
Translations/Goldsrc/czero/PT-BR/Compilação/resource/OptionsSubAdvanced.res
Translations/Goldsrc/czero/PT-BR/Compilação/resource/OptionsSubMouse.res
Translations/Goldsrc/czero/PT-BR/Compilação/resource/OptionsSubVoice.res
Translations/Goldsrc/czero/PT-BR/Compilação/resource/platform_english.txt
Translations/Goldsrc/czero/PT-BR/Compilação/resource/valve_english.txt
Translations/Goldsrc/czero/PT-BR/Compilação/resource/vgui_english.txt

## czeror
Translations/Goldsrc/czeror/PT-BR/Compilação/servers
Translations/Goldsrc/czeror/PT-BR/Compilação/resource/gameui_english.txt
Translations/Goldsrc/czeror/PT-BR/Compilação/resource/OptionsSubAdvanced.res
Translations/Goldsrc/czeror/PT-BR/Compilação/resource/OptionsSubMouse.res
Translations/Goldsrc/czeror/PT-BR/Compilação/resource/OptionsSubVoice.res
Translations/Goldsrc/czeror/PT-BR/Compilação/resource/platform_english.txt
Translations/Goldsrc/czeror/PT-BR/Compilação/resource/valve_english.txt
Translations/Goldsrc/czeror/PT-BR/Compilação/resource/vgui_english.txt

## dmc
Translations/Goldsrc/dmc/PT-BR/Compilação/servers
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/gameui_english.txt
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/game_menu_mouseover.tga
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/game_menu.tga
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/logo_game.tga
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/OptionsSubAdvanced.res
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/OptionsSubMouse.res
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/OptionsSubVoice.res
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/platform_english.txt
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/valve_english.txt
Translations/Goldsrc/dmc/PT-BR/Compilação/resource/vgui_english.txt

## dod
Translations/Goldsrc/dod/PT-BR/Compilação/servers
Translations/Goldsrc/dod/PT-BR/Compilação/resource/gameui_english.txt
Translations/Goldsrc/dod/PT-BR/Compilação/resource/OptionsSubAdvanced.res
Translations/Goldsrc/dod/PT-BR/Compilação/resource/OptionsSubMouse.res
Translations/Goldsrc/dod/PT-BR/Compilação/resource/OptionsSubVoice.res
Translations/Goldsrc/dod/PT-BR/Compilação/resource/platform_english.txt
Translations/Goldsrc/dod/PT-BR/Compilação/resource/valve_english.txt
Translations/Goldsrc/dod/PT-BR/Compilação/resource/vgui_english.txt

## ricochet
Translations/Goldsrc/ricochet/PT-BR/Compilação/servers
Translations/Goldsrc/ricochet/PT-BR/Compilação/resource/gameui_english.txt
Translations/Goldsrc/ricochet/PT-BR/Compilação/resource/OptionsSubAdvanced.res
Translations/Goldsrc/ricochet/PT-BR/Compilação/resource/OptionsSubMouse.res
Translations/Goldsrc/ricochet/PT-BR/Compilação/resource/OptionsSubVoice.res
Translations/Goldsrc/ricochet/PT-BR/Compilação/resource/platform_english.txt
Translations/Goldsrc/ricochet/PT-BR/Compilação/resource/valve_english.txt
Translations/Goldsrc/ricochet/PT-BR/Compilação/resource/vgui_english.txt

## tfc
Translations/Goldsrc/tfc/PT-BR/Compilação/servers
Translations/Goldsrc/tfc/PT-BR/Compilação/resource/gameui_english.txt
Translations/Goldsrc/tfc/PT-BR/Compilação/resource/OptionsSubAdvanced.res
Translations/Goldsrc/tfc/PT-BR/Compilação/resource/OptionsSubMouse.res
Translations/Goldsrc/tfc/PT-BR/Compilação/resource/OptionsSubVoice.res
Translations/Goldsrc/tfc/PT-BR/Compilação/resource/platform_english.txt
Translations/Goldsrc/tfc/PT-BR/Compilação/resource/valve_english.txt
Translations/Goldsrc/tfc/PT-BR/Compilação/resource/vgui_english.txt